/*Page accueil*/


.section_accueil{
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    align-items: flex-start;
    margin: auto;
}

.section_accueil div{
    margin : auto;
    padding-right: 80px;
}

.section_accueil h1 {
    margin-bottom: 15px;
}

.section_accueil p {
    margin-bottom: 30px;
}

main img{
    max-width: 300px;
}

.un_peu_plus_sur_moi{
    background-color: white;
    padding:80px;
}

.un_peu_plus_sur_moi h2{
    color : #242424;
    text-align: center;
    margin-bottom:80px;
}
.un_peu_plus_sur_moi p{
    color : #242424;
    text-align: center;
    line-height: 1.5em;
}

h2+p{
    margin-bottom:80px;
}


@media screen and  (max-width:996px){
    .photo_accueil{
        order:-1;
        margin-bottom: 20px;
        width: 100%;
    }
    .section_accueil{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .section_accueil div{
        padding-right: 0;
        text-align: center;
        order: 2;
    }
}